body {
  margin: 0;
  padding: 0;
}
* {
  font-family: sleek;
  font-weight: 600;
}
body,
html,
#app {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

:root {
  --content-bg: url('https://img.jzsp66.xyz/aboutBg.032563ba.png');
  --about-top-bg: url('http://img.jzsp66.xyz/aboutTopBg.62862b8c.webp');
  --article-bg: url('https://img.jzsp66.xyz/bg2.3f4c05a6.webp');
  --category-bg: url('https://img.jzsp66.xyz/bg2.3f4c05a6.webp');
  --wave: url('https://img.jzsp66.xyz/wave.4abb6f82.png');
  --line-wave: url('../icon/line_wave_w.png');
  --main-top-bg: url('https://img.jzsp66.xyz/bg.35f0cd6d.webp');
}
/*
sm	640px	@media (min-width: 640px) { ... }
md	768px	@media (min-width: 768px) { ... }
lg	1024px	@media (min-width: 1024px) { ... }
xl	1280px	@media (min-width: 1280px) { ... }
2xl	1536px	@media (min-width: 1536px) { ... }
*/
.clearfix::before,
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.markdown-body {
  code {
    padding: 0.065em 0.4em;
    font-size: 0.87em;
    color: #c2185b;
    word-break: break-word;
    overflow-x: auto;
    background-color: #fff4f4;
    border-radius: 2px;
  }
}
